:root {
  --bs-body-bg: #0b0b0c !important;
}

body {
  background-color: #0b0b0c !important;
}

.h1__title {
  font-family: dx-rigraf;
  font-size: 120px;
  text-transform: uppercase;
  color: #0b0b0c;
  -webkit-text-stroke: 1px white;
}

.h1__margins {
  margin: 128px 0 96px;
}

.list-group-item {
  background-color: #0b0b0c;
}

h4 {
  color: white;
  font-family: "creato-md";
  font-size: 20px;
  white-space: nowrap;
}

.bi-file-earmark-pdf {
  fill: #f70000;
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 768px) {
  .h1__title {
    font-size: 40px;
  }

  .list-group-item h4 {
    font-size: 16px;
  }

  .bi-file-earmark-pdf {
    width: 16px;
    height: 16px;
  }
  .list-group-item h4 {
    width: 78%;
    height: 18px;
    overflow: hidden;
    margin: 0;
  }

  /* Texte défilant */
  .messagedefilant {
    display: block;
    margin: 40px auto;
    padding: 0;
    overflow: hidden;
    position: relative;
    width: 50%;
    max-width: 640px;
    height: 60px;
  }

  .messagedefilant div {
    position: absolute;
    min-width: 100%; /* au minimum la largeur du conteneur */
  }

  .messagedefilant div span,
  .messagedefilant div:after {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    top: 0;
  }

  .messagedefilant div span {
    animation: defilementSpan 6s infinite linear;
  }

  .messagedefilant div:after {
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-titre-expose);
    animation: defilementDataAttribut 6s infinite linear;
    /* background: #edc; */
  }

  @keyframes defilementSpan {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -100%;
    }
  }

  @keyframes defilementDataAttribut {
    0% {
      margin-left: 100%;
    }
    100% {
      margin-left: 0%;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .list-group-item h4 {
    max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
  }
}

#scroll_to_top {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 50px;
  right: 100px;
}
#scroll_to_top img {
  width: 60px;
}

.expose {
  size: 100vh;
}
