body{
    background-color: #0B0B0C ;
    color: white;
    font-family: BL Melody Regular;
    font-style: normal;
    font-size: 32px;
}

h1, h2, h3 {
    font-family: DX-Rigraf;
}

  h1 {
    font-size: 120px;    
    -webkit-text-stroke: 4px white;
    color: transparent;
}

  h2 {
    font-size: 80px;
}

  h3 {
    font-size: 40px;
}

  h4 {
    font-size: 32px;
}

p{
    font-size: 32px;
}

.accordion-header{
    font-family: BL Melody Regular !important;
}

  .noise {
    position: fixed;
    inset: 0;
    z-index: 900;
    pointer-events: none;
    background: url('../images/noise.png') repeat center center;
    opacity: 0.3;
    visibility: visible;
    mix-blend-mode: difference;
}

.accordion-body {
    font-size: 16px;
    color: #939393;
}

.accordion-button:not(.collapsed) {
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.13);
    color: white;
    background-color: #0B0B0C;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.13);
}

.accordion-item {
    background-color: #0B0B0C;
    border-color: white;
    border: 1pxsolidrgba(0,0,0,.125);
}

.accordion-button {
    color: #ffffff;
    background-color: #0b0b0c;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
h1{
       font-size: 40px;
       -webkit-text-stroke: 2px white;
       color: transparent;
}

.flecheretourenhaut{
        width: 30px;
        height: 30px;
}

.rectangle svg{
    width: 8px;
    height: 8px;
}

body, h2{
       font-size: 32px;
}

body, h3{
    font-size: 20px;
}

body, p{
    font-size: 16px;
}

.accordion-button {
    font-size: 14px;
}
}

.rectangle{
    border: 1px solid white;
    border-radius: 20px;
    padding: 25px;
}

.accordion-button:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}