body{
    background-color: #0B0B0C ;
    color: white;
}

@font-face{
    font-family: dx-rigraf;
    src: url("../fonts/DXRigraf-SemBdExpIta\ \(1\).woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: MADE_TOMMY;
    src: url("../fonts/MADE_TOMMY_Regular_PERSONAL_USE.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}

h1{
    font-family: dx-rigraf;
    font-size: 120px;
    text-transform: uppercase;
    color: #0B0B0C;
    -webkit-text-stroke: 4px white;
}

.h1__margins{
    margin: 128px 0 96px;
}

h2{
    font-family: dx-rigraf;
    font-size: 60px;
}

p{
    font-size: 20px;
    font-family: MADE_TOMMY;
}

.m-4{
    font-size: 24px;
}

.accordion-button__formation{
    font-family: MADE_TOMMY !important;
    font-size: 16px !important;
}

.accordion-body__formation{    
    font-family: MADE_TOMMY;
    font-size: 16px;
    color: #939393;
}

.accordion-button__formation:not(.collapsed){
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.13);
    color: white;
    background-color: #0B0B0C;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.13);
}

.accordion-item__formation{
    background-color: #0B0B0C;
    border-color: white;
    /* border: 1pxsolidrgba(0,0,0,.125); inutile apparement */
}

.accordion-button__formation{
    color: #ffffff;
    background-color: #0b0b0c;
    font-size: 20px;
}

.accordion .accordion-item:first-child  .accordion-button__formation 
{
    border-top: 1px solid ;
}
.accordion .accordion-item:last-child  .accordion-button__formation 
{
    border-bottom: 1px solid ;
}



.accordion-button__formation:focus {
    /* box-shadow: 0 0 0 0.25rem transparent !important; */
    outline: none;
    box-shadow: none;
}

.rectangle__arrondi{
    border: 1px solid white;
    border-radius: 20px;
    padding: 25px;
}

.accordion-button__formation:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button__formation::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.scroll_to_top{
    position: fixed;
    bottom: 10%;
    right: 6%;
}

@media screen and (max-width: 768px){
    h1{
        font-size: 40px;
        -webkit-text-stroke: 2px white;
        color: transparent;
    }
    
    h2{
        font-size: 32px;
    }
    
    p{
        font-size: 16px;
    }
    
    .rectangle__arrondi svg{
        width: 8px;
        height: 8px;
    }
    
    .accordion-button__formation{
        font-size: 14px;
    }
    
    .accordion-body__formation{
        font-size: 14px;
    }
    
    .scroll_to_top{
        width: 30px !important;
        height: 30px !important;
    }
}