body {
  height: 100vh;
  padding: 0%;
}

.logo__CDUI {
  width: 194px;
}

.row.h-0 {
  height: auto !important;
}

.container__home .accordion.accordion__home .accordion-item-home {
  background: transparent;
  width: 100%;
}

.container__home .accordion-header {
  color: transparent;
  background: transparent;
}

#accordionHome .accordion-item-home .accordion-button-home {
  font-family: "dx-rigraf";
  -webkit-text-stroke: 2px white;
  font-size: 120px;
  color: transparent;
  background: transparent;
  transition: all 0.3s ease;
  padding: 0 0 0 1em;
  cursor: none;
}

@media screen and (max-width: 1280px) {
  .container__home
    .accordion.accordion__home
    .accordion-item-home
    .accordion-button-home {
    font-size: 80px;
    padding: 0 0 0 7rem;
  }
}

@media screen and (max-width: 1024px) {
  .container__home
    .accordion.accordion__home
    .accordion-item-home
    .accordion-button-home {
    font-size: 50px;
    padding: 0.6em 0 0 4rem;
  }
  .header__home .logo__CDUI {
    width: 100px;
  }
}

@media screen and (max-width: 480px) {
  .container__home
    .accordion.accordion__home
    .accordion-item-home
    .accordion-button-home {
    font-size: 36px;
    padding: 0.6em 0 0 1rem;
    -webkit-text-stroke: 1px white;
  }
}

.container__home
  .accordion.accordion__home
  .accordion-item-home
  .accordion-button-home:after {
  content: none;
}

.container__home .accordion-button-home:not(.collapsed) {
  position: sticky;
}

.container__home .accordion-flush {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding: 0;
}

.container__home .accordion-body {
  background: rgb(255, 255, 255);
}

#accordionHome .accordion-item-home .accordion-button-home:hover {
  color: white;
}

.container__home .accordion.accordion__home .accordion-body p {
  /* font-family: 'dx-rigraf';
    color: purple; */
  font-size: 1rem;
}

.container__home .accordion-button-home:focus,
.container__home .accordion-button-home:active {
  box-shadow: none;
  outline: none;
}

/* Titre section sticky */

.container__home .titre__section {
  font-family: "dx-rigraf";
  font-size: 70px;
  -webkit-text-stroke: 3px rgb(0, 0, 0);
  color: transparent;
  background: transparent;
  transform: rotate(-90deg);
}

.container__home .titre__projets {
  top: 97px;
  left: -115px;
}

.container__home .titre__ressources {
  top: 160px;
  left: -179px;
}

.container__home .titre__apropos {
  top: 68px;
  left: -147px;
}

.container__home .titre__formation {
  top: 98px;
  left: -180px;
}

/* Titre section sticky */

/* Bouton croix accordion */

@media screen and (max-width: 992px) {
  .container__home .close__section .bi {
    font-size: 30px !important;
    /* width: 30px;
    height: 30px; */
  }
}

.container__home .close__section svg {
  cursor: none;
  width: 50px;
  height: 50px;
}

.container__home .close__section .bi {
  font-size: 50px;
  color: #fff;
}

.container__home .close__section .bi:before {
  display: block;
}

.container__home .close__section .bi-x-circle-fill {
  display: none;
}

.container__home .close__section:hover .bi-x-circle-fill {
  display: block;
}

.container__home .close__section:hover .bi-x-circle {
  display: none;
}

/* Bouton croix accordion */

/* Media screen titre sticky */

@media screen and (max-width: 992px) {
  .container__home
    .accordion.accordion__home
    .accordion-body
    .container__sticky {
    margin: 0 0 0 auto !important;
  }
  .container__home
    .accordion.accordion__home
    .accordion-body
    .container__sticky
    .titre__section {
    left: -50px !important;
  }
}

@media screen and (max-width: 1400px) {
  .container__home
    .accordion.accordion__home
    .accordion-body
    .container__sticky
    .titre__section {
    left: -50px !important;
  }
}

/* Media screen titre sticky */
