@font-face {
<<<<<<< HEAD
  font-family: 'dx-rigraf';
  src: url('../fonts\DXRigraf-SemiBoldExpanded.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
=======
    font-family: 'dx-rigraf';
    src: url('../fonts/DXRigraf-SemBdExpIta.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
>>>>>>> f33130058d1027bdb410e1545037be9eb3b7ee3d
}

@font-face {
    font-family: 'creato-md';
    src: url('../fonts/CreatoDisplay-Medium.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}
*{
  cursor: none;
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    --bs-body-bg: #000;
}

.noise {
<<<<<<< HEAD
  position: fixed;
  inset: 0;
  z-index: 900;
  pointer-events: none;
  background: url('../images/noise.png') repeat center center;
  opacity: 0.3;
  visibility: visible;

}

/* Curseur Rond */
.cursor {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  border: 1px solid rgb(255, 255, 255);
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: 9999;
  mix-blend-mode: difference;
=======
    position: fixed;
    inset: 0;
    z-index: 900;
    pointer-events: none;
    background: url('../images/noise.png') repeat center center;
    opacity: 0.3;
    visibility: visible;
    mix-blend-mode: difference;
>>>>>>> f33130058d1027bdb410e1545037be9eb3b7ee3d
}

.cursor2 {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  /* opacity: .3; */
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
  z-index: 9999;
  mix-blend-mode: difference;
}

.hover {
  background-color: red;
  opacity: 0.5;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .5;
}

/* Curseur Rond */

body {
    height: 100vh;
    padding: 0%;
}

.logo__CDUI {
<<<<<<< HEAD
  width: 194px;
=======
    cursor: pointer;
}

.logo__CDUI {
    width: 194px;
>>>>>>> f33130058d1027bdb410e1545037be9eb3b7ee3d
}

.row.h-0 {
    height: auto !important;
}

.accordion .accordion-item {
    background: transparent;
    width: 100%;
}

.accordion-header {
    color: transparent;
    background: transparent;
}

.accordion .accordion-item .accordion-button {
<<<<<<< HEAD
  font-family: 'dx-rigraf';
  -webkit-text-stroke: 2px white;
  font-size: 120px;
  color: transparent;
  background: transparent;
  transition: all 0.3s ease;
  padding: 0 0 0 1em;
  cursor: none;
=======
    font-family: 'dx-rigraf';
    -webkit-text-stroke: 2px white;
    font-size: 120px;
    color: transparent;
    background: transparent;
    transition: all 0.3s ease;
    padding: 0 0 0 1em;
>>>>>>> f33130058d1027bdb410e1545037be9eb3b7ee3d
}

@media screen and (max-width: 1280px) {
    body .accordion .accordion-item .accordion-button {
        font-size: 80px;
        padding: 0 0 0 7rem;
    }
}

@media screen and (max-width: 1024px) {
    body .accordion .accordion-item .accordion-button {
        font-size: 50px;
        padding: 0.6em 0 0 4rem;
    }
    .logo__CDUI {
        width: 100px;
    }
}

@media screen and (max-width: 480px) {
    body .accordion .accordion-item .accordion-button {
        font-size: 40px;
        padding: 0.6em 0 0 1rem;
        -webkit-text-stroke: 1px white;
    }
}

.accordion .accordion-item .accordion-button:after {
    content: none;
}

.accordion-button:not(.collapsed) {
    position: sticky;
}

.accordion-flush {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding: 0;
}

.accordion-body {
    background: rgb(255, 255, 255);
}

.accordion .accordion-item .accordion-button:hover {
    color: white;
}

.accordion .accordion-body p {
<<<<<<< HEAD
  font-family: 'dx-rigraf';
  color: purple;
  font-size: 1rem;
=======
    /* font-family: 'BL Melody';    */
    font-family: 'dx-rigraf';
    color: purple;
    font-size: 1rem;
>>>>>>> f33130058d1027bdb410e1545037be9eb3b7ee3d
}

.accordion-button:focus,
.accordion-button:active {
    box-shadow: none;
    outline: none;
}

<<<<<<< HEAD

/* Titre section sticky */
.titre__section {
  font-family: 'dx-rigraf';
  font-size: 70px;
  -webkit-text-stroke: 3px rgb(0, 0, 0);
  color: transparent;
  background: transparent;
  transform: rotate(-90deg);
}

.titre__projets {
top: 97px;
left: -115px;
}
.titre__ressources{
  top: 160px;
  left: -179px;
}
.titre__apropos {
  top: 68px;
  left: -147px;
}
.titre__formation {
  top: 98px;
  left: -180px;
}
/* Titre section sticky */

/* Bouton croix accordion */
@media screen and (max-width: 992px) {
  .close__section .bi
  .close__section .bi:before {
    font-size: 30px;
    width: 30px;
    height: 30px;
  }
}

.close__section svg {
  cursor: none;
  width: 50px;
  height: 50px;
}

.close__section .bi{
  font-size: 50px;
}

.close__section .bi:before{
  display: block;
}
.close__section .bi-x-circle-fill {
  display: none; 
}

.close__section:hover .bi-x-circle-fill {
  display: block; 
}
.close__section:hover .bi-x-circle {
  display: none; 
}

/* Bouton croix accordion */



/* Media screen titre sticky */
@media screen and (max-width: 992px) {
  .accordion .accordion-body .container__sticky {
    margin: 0 0 0 auto !important;
  }
  .accordion .accordion-body .container__sticky .titre__section {
    left: -50px !important;
  }
}

@media screen and (max-width: 1400px) {
  .accordion .accordion-body .container__sticky .titre__section {
    left: -50px !important;
  }
}
/* Media screen titre sticky */
=======
.titre__section {
    font-size: 70px;
    transform: rotate(-90deg);
    top: 100px;
    left: 0;
}

.sticky-top {
    /* display: flex;
  justify-content: end;
  top: 30px; */
}

.close__section svg {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

@media screen and (max-width:992px) {
    .close__section svg {
        width: 30px;
    }
}

.close__section svg:hover {
    color: red;
}

.close__section svg path {
    size: 90px;
}

@media screen and (max-width: 992px) {
    .accordion .accordion-body .container__sticky {
        margin: 0 0 0 auto !important;
    }
    .accordion .accordion-body .container__sticky .titre__section {
        left: -50px !important;
    }
}

@media screen and (max-width: 1400px) {
    .accordion .accordion-body .container__sticky .titre__section {
        left: -50px !important;
    }
}
>>>>>>> f33130058d1027bdb410e1545037be9eb3b7ee3d
