@font-face {
    font-family:dx-rigraf;
    src: url("fonts\DXRigraf-SemBdExpIta.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
  }
  
:root {
    scroll-behavior: smooth;
    --bs-body-bg: #000;
  /* Global style */
  }
  
.noise {
    position: fixed;
    inset: 0;
    z-index: 900;
    pointer-events: none;
    background: url("../images/noise.png") repeat center center;
    opacity: 0.3;
    visibility: visible;
    mix-blend-mode: difference;
  }
  
.accordion .accordion-item,
.accordion .accordion-item .accordion-button 
  {
    -webkit-text-stroke: 2px white;
    font-family: dx-rigraf;
    font-size: 100px;
    color: transparent;
    background: transparent 
  } 
  
.accordion .accordion-item,.accordion .accordion-item .accordion-button:hover 
  {
    font-family: dx-rigraf;
    font-size: 100px;
    color: white;
  } 
  
  
.accordion .accordion-item,
.accordion .accordion-item .accordion-button .colapsed
  {
    -webkit-text-stroke: unset;
    color: white;
    font-family: 'BL Melody';
    font-size: 16px;
    border-style: hidden;
  }
  
.accordion-button::after {
    opacity: 0;
  }
  
.accordion-button::before {
    opacity: 0;
    }
  
  
.accordion-button:focus,
.accordion-button:active
{
    border-color: none !important;
    border:none !important;
}

.accordion-button:focus{
    box-shadow: none;
}
  

.accordion-body{
  
  max-width: 100% !important;
}

.container .container-fluid {
  width: 100%;
}

.pad-titre-propos h2 h4{
  color: #000;
}

*{
  box-sizing: content-box !important;
}

img{
  border-radius: 20px;
}

label {
	width: 416px;
	height: 520px;
	perspective: 1000px;
	transform-style: preserve-3d;
	cursor: pointer;
}

.flip-card {
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 0.5s ease-in-out;
	z-index: 1;
}

.flip-card .front,
.flip-card .back {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	background: #fff;
	backface-visibility: hidden;
	border-radius: 20px;
}

.flip-card .back {
	transform: rotateX(180deg);
	color: #000;
	background: rgb(10, 10, 10);
}

label:hover .flip-card {
	transform: rotateX(2deg);
}

input {
	display: none;
}

:checked + .flip-card {
	transform: rotateX(180deg);
}

label:hover :checked + .flip-card {
	transform: rotateX(175deg);
}

.front img {
	width: 100%;
	height: 100%;
}

.back h1 {
	color: #424752;
	margin: 30px 0 0 0;
}


.back p {
	font-size: 16px;
	color: rgb(255, 255, 255);
	line-height: 30px;
	text-align: center;
	margin: 0 auto;
}

.back{
  background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b512fbb2-3470-4fbe-bfeb-32524c75ce60/d6lhrwy-57c63b0b-18c0-4187-a799-3b58bafd5a52.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2I1MTJmYmIyLTM0NzAtNGZiZS1iZmViLTMyNTI0Yzc1Y2U2MFwvZDZsaHJ3eS01N2M2M2IwYi0xOGMwLTQxODctYTc5OS0zYjU4YmFmZDVhNTIuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.R9gW2kDCcen-HMPvLvluVByk1VhpMHPda27oiaNigyw) !important;
  background-size: cover !important;
}


.pad-titre-propos p {
  color: rgb(255, 255, 255);
  font-size: 32px;
  padding-bottom: 72px;
}

.container{
  
  padding: 0;
}






