@font-face {
  font-family: "dx-rigraf";
  src: url("../fonts/DXRigraf-SemiBoldExpanded.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "creato-md";
  src: url("../fonts/CreatoDisplay-Medium.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

* {
  cursor: none;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  --bs-body-bg: #0b0b0c;
}

.bg-dark {
  background: #0b0b0c !important;
  position: relative;
  z-index: 200;
}

.noise {
  position: fixed;
  inset: 0;
  z-index: 100;
  pointer-events: none;
  background: url("../images/noise.png") repeat center center;
  opacity: 0.3;
  visibility: visible;
}

/* Curseur Rond */

.cursor {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  border: 1px solid rgb(255, 255, 255);
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: 9999;
  mix-blend-mode: difference;
}

.cursor2 {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  /* opacity: .3; */
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
  z-index: 9999;
  mix-blend-mode: difference;
}

.hover {
  background-color: blue;
  opacity: 0.5;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: 0.5;
}

.accordion-button:focus {
  box-shadow: none;
  outline: none;
}

.container__home .accordion.accordion__home .accordion-item-home{
  border: none;
}

.container__home .accordion-body {
  background-color: #0b0b0c;
  z-index: 200;
  position: relative;
  padding: 60px 0;
}

.accordion-item{
  border: none;
}