@font-face {
    font-family: dx-rigraf;
    src: url("fonts/DXRigraf-SemBdExpIta.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #0B0B0C;
}

.title__page {
    font-size: 40px;
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-family: dx-rigraf;
}

@media screen and (min-width: 768px) {
    .title__page {
      font-size: 120px;
    }
  }

.card {
    max-width: 18rem;
    height: auto;
    --bs-card-bg: transparent; 
    --bs-card-border-width : 0px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;    
    transition: transform 0.3s ease; 
}

.card img {
  transform: scale(1);
  transition: all 0.3s ease;        
}

.card:hover img{
    transform: scale(1.5);
}

.card-body {
    position: absolute;
    background-color: rgba(0,0,0,.5);
    color: white;
    text-align: center;
    bottom: 0px;
    border-radius: 0px 0px 20px 20px;
}

.cards__container{
    gap: 45px 0;
}
