@font-face {
    font-family: dx-rigraf;
    src: url("fonts/DXRigraf-SemBdExpIta.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}

@media screen and (min-width: 768px) {
    h1 {
      font-size: 120px;
      -webkit-text-stroke: 3px white;
      color: transparent;
    }
  }

@media screen and (max-width: 768px) {
    h1 {
      font-size: 40px;
      -webkit-text-stroke: 1px white;
      color: transparent;
    }
}

body {
    background-color: #0B0B0C;
}

h1 {
    font-family: dx-rigraf;
}

.card {
    max-width: 18rem;
    height: auto;
    --bs-card-bg: transparent; 
    --bs-card-border-width : 0px;

}

.card-body {
    position: absolute;
    background-color: rgba(0,0,0,.5);
    color: white;
    text-align: center;
    bottom: 0px;
    border-radius: 0px 0px 20px 20px;
}

.card-img-top {
    border-radius: 20px;
}
