@import 'mixins';
.splash {
    position: absolute;
    z-index: 0;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    background-color: #000;
    @include respondTo('md') {
        position: relative;
        display: block;
        padding-top: 50px;
        padding-left: 0;
        overflow: hidden;
    }
    &_logo {
        position: absolute;
        z-index: 8;
        top: 25vh;
        right: 72vw;
        width: 26vw;
        max-width: 430px;
        opacity: 0;
        transition: opacity 0.2s linear;
        mix-blend-mode: difference;
        @include respondTo('md') {
            width: 350px;
            // right: 85vw;
            position: relative;
            top: auto;
            right: auto;
            margin-right: 0;
            // width: 200px;
            transform: none;
            left: vwCol(2, $gridColGutterX);
        }
        @include respondTo('xs') {
            position: relative;
            top: auto;
            right: auto;
            margin-right: 0;
            width: 200px;
            left: 30px;
            transform: none;
        }
        &::before {
            content: "";
            display: block;
            padding-top: percentage(363/681);
        }
        svg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .coulure {
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            transition: clip-path 2.5s cubic-bezier(0.61, 1, 0.88, 1);
            &:nth-child(1) {}
            &:nth-child(2) {
                transition-delay: 0.1s;
            }
            &:nth-child(3) {
                transition-delay: 0.2s;
            }
        }
        .intro-pattern {
            opacity: 0;
            // transform: scale(1.2);
            will-change: opacity, transform;
        }
        &.animated {
            opacity: 1;
            .coulure {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
        }
    }
    &_video {
        position: relative;
        height: 90vh;
        width: 110vh;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        transition: transform 1s $Power4EaseOut, opacity 0.4s linear;
        @include respondTo('md') {
            position: fixed;
            right: -10vh;
            top: 50vh;
            height: 100vh;
            width: 100vh;
            margin-top: -50vh;
        }
        @include respondTo('sm') {
            right: -10vh;
            height: 70vw;
            width: 70vw;
            margin-top: -35vw;
        }
        @include respondTo('xs') {
            display: none;
        }
        &.animated {
            opacity: 0.75;
            transform: translateX(25vw) scale(0.9);
            @include respondTo('sm') {
                opacity: 1;
                transform: none;
            }
            .splash_video_covers--bg {
                &::after {
                    opacity: 1;
                }
            }
        }
        .animal {
            z-index: 0;
            height: 75vh;
            width: 75vh;
            mix-blend-mode: difference;
        }
        &_covers {
            position: absolute;
            z-index: 2;
            inset: 0;
            overflow: hidden;
            mix-blend-mode: overlay;
            transition: clip-path 1s $ExpoEaseOut;
            will-change: clip-path;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            @include respondTo('md') {
                display: none;
            }
            &.hidden {
                clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
            }
            &::after {
                content: "";
                position: absolute;
                inset: -1px;
                background-color: #000;
                opacity: 0;
            }
            &--bg {
                z-index: -1;
                mix-blend-mode: normal;
                &::after {
                    opacity: 0.95;
                }
            }
            >div {
                position: absolute;
                inset: 1px;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url(../images/patterns/1.svg);
                opacity: 0;
                transition: opacity 0.1s linear;
                &:nth-child(1) {
                    background-image: url(../images/patterns/1.svg);
                }
                &:nth-child(2) {
                    background-image: url(../images/patterns/2.svg);
                }
                &:nth-child(3) {
                    background-image: url(../images/patterns/3.svg);
                }
                &:nth-child(4) {
                    background-image: url(../images/patterns/4.svg);
                }
                &:nth-child(5) {
                    background-image: url(../images/patterns/5.svg);
                }
                &:nth-child(6) {
                    background-image: url(../images/patterns/6.svg);
                }
                &:nth-child(7) {
                    background-image: url(../images/patterns/7.svg);
                }
            }
        }
        @for $i from 1 through 7 {
            &[data-state="#{$i}"] {
                .splash_video_covers>div:nth-child(#{$i}) {
                    opacity: 1;
                }
            }
        }
    }
}

.main {
    position: relative;
    z-index: 10;
    padding-top: 5vh; //calc(10vh + 300px);
    @include respondTo('md') {
        padding-top: 10px;
        overflow: hidden;
    }
    @include respondTo('xs') {
        padding-top: 10px;
    }
    &.usable {
        .pSection_main {
            pointer-events: all;
        }
    }
}

.pSection {
    position: relative;
    // overflow: hidden;
    &_main {
        opacity: 0;
        pointer-events: none;
        .pSection_titleList {
            color: transparentize($cLight, 0.1);
            color: #282828;
            padding-left: 26.14286vw + 5vw; // vwCol(4, $gridColGutterX);
            cursor: pointer;
            transition: color 0.4s linear;
            @include respondTo('md') {
                padding-left: vwCol(2, $gridColGutterX);
            }
            @include respondTo('xs') {
                padding-left: 30px;
                padding-right: 30px;
                width: 100%;
            }
            >span {
                position: relative;
                .count {
                    position: absolute;
                    top: 20px;
                    left: calc(100% + 20px);
                    @include fontSize(20, 30);
                    font-family: $ffArial;
                    font-style: italic;
                    font-weight: 400;
                }
                .strike {
                    position: absolute;
                    top: 40%;
                    left: 0;
                    right: 0;
                    height: 20px;
                    .sep {
                        margin: 0;
                        width: calc(100% + 170px);
                        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
                        &:first-child {
                            margin-left: -70px;
                            transition: clip-path 0.8s $ExpoEaseInOut;
                        }
                        &:last-child {
                            margin-left: -80px;
                            transition: clip-path 0.9s $ExpoEaseInOut;
                        }
                    }
                }
            }
            &:hover {
                color: transparentize(#FFF, 0.1);
                .strike {
                    .sep {
                        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                    }
                    @include respondTo('xs') {
                        display: none;
                    }
                }
            }
        }
    }
    &_title,
    &_titleList {
        // @extend .st1;
    }
    &_titleWrap {
        position: relative;
        margin-left: vwCol(4, $gridColGutterX);
        margin-bottom: 7.5vh;
        margin-top: 120px;
        background-color: #fff;
        @include respondTo('xs') {
            margin-top: 40px;
            margin-bottom: 20px;
        }
        .pSection_logo {
            position: absolute;
            top: -130px;
            right: calc(100% - 190px);
            width: 681px;
            @include respondTo('md') {
                width: 500px;
                top: -100px;
            }
            @include respondTo('sm') {
                width: 400px;
                top: -85px;
            }
            @include respondTo('xs') {
                width: 200px;
                top: -40px;
                right: calc(100% - 85px);
            }
            &::before {
                content: "";
                display: block;
                padding-top: percentage(363/681);
            }
            svg {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
            .coulure {
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                transition: clip-path 2.5s cubic-bezier(0.61, 1, 0.88, 1);
                &:nth-child(1) {}
                &:nth-child(2) {
                    transition-delay: 0.1s;
                }
                &:nth-child(3) {
                    transition-delay: 0.2s;
                }
            }
            &.animated {
                .coulure {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
            }
        }
        .pSection_title {
            position: relative;
            z-index: 1;
            color: #FFF;
            mix-blend-mode: difference;
        }
    }
    &_wrap {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        opacity: 0;
        pointer-events: none;
        color: $cDark;
        display: none;
    }
    &_inner {
        padding: 15vh 0;
        @include respondTo('sm') {
            padding: 60px 0;
        }
        @include respondTo('xs') {
            padding: 60px 0;
        }
    }
    &_background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        background-color: $cLight;
        transform: scaleY(0);
        transform-origin: top center;
    }
    &--opening {
        margin-top: 5vh;
        margin-bottom: 5vh;
        transition: margin-top 0.6s linear, margin-bottom 0.6s linear;
        .pSection_main {
            pointer-events: none;
        }
        .pSection_wrap {
            pointer-events: all;
            display: block;
        }
    }
    &:first-child {
        &.pSection--opening {
            margin-top: 0 !important;
        }
    }
    &--opened {
        // background-color: #FFF;
        // color: $cDark;
        .pSection_main {
            position: absolute;
        }
        .pSection_wrap {
            position: relative;
        }
    }
}

.counter {
    position: fixed;
    top: 3vw;
    right: 3vw;
    z-index: 15;
    @include fontSize(30, 40);
    font-style: italic;
    font-weight: 300;
    color: #FFF;
    mix-blend-mode: difference;
    display: none;
    align-items: flex-start;
    padding: 25px 15px 20px 15px;
    overflow: hidden;
    @include respondTo('xs') {
        padding: 25px 15px 20px 15px;
        transform: scale(0.7);
    }
    &.visible {
        display: flex;
    }
    svg {
        position: absolute;
        right: 0;
        &:first-child {
            top: 0;
        }
        &:last-child {
            bottom: 0;
        }
    }
    >div {
        @include respondTo('xs') {
            display: none;
        }
    }
    &_close {
        width: 34px;
        height: 39px;
        background-image: url(../images/close-2.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.isSafari {
    .coulure {
        clip-path: none !important;
        transition: none !important;
    }
}