<nav class="navbar bg-dark js-menu">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="menu--page__item" data-link="home" data-lottie="https://assets5.lottiefiles.com/packages/lf20_gaj2imtz.json"> Home </a>
        </li>
        <li class="nav-item">
            <a class="menu--page__item" data-link="projet" data-lottie="https://assets5.lottiefiles.com/packages/lf20_wqd1jwoz.json"> Projets </a>
        </li>
        <li class="nav-item">
            <a class="menu--page__item" data-link="portfolio" data-lottie="https://assets5.lottiefiles.com/packages/lf20_r9gfdrsc.json"> Portfolio </a>
        </li>
        <li class="nav-item">
            <a class="menu--page__item" data-link="contact" data-lottie="https://assets5.lottiefiles.com/packages/lf20_w51pcehl.json" data-lottie="https://assets5.lottiefiles.com/packages/lf20_r9gfdrsc.json"> Contact </a>
        </li>
    </ul>
</nav>