<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>page liens</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/Liens_utiles.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="h1">Liens utiles</h3>
        <p>Ces liens sont mis à votre disposition pour vous aider dans votre processus créatif. De la banque d'images libre de droits, en passant par la création d'un logo, la recherche d'une typographie, à la modification de vos éléments graphiques et la création de votre site web. Sans oublier de passer par une bonne organisation.</p>
      </div>
    </div>
  </div>
  
  <!-- Accordion_1_INSPIRATIONS -->
  <div class="container">
    <div class="accordion accordion-flush" id="acccordionInspirations">
      <div class="accordion-item accordion-item__liens-utiles">
        <div class="header__item  position-relative">
          <div class="title first__title">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed__liens-utiles" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" >
                INSPIRATIONS 
                <p class="liens-utiles">Le must des designers</p>
              </button>
            </h2>
          </div>    
        </div>
        <div id="flush-collapseOne" class="accordion-collapse collapse    col-xs-3" aria-labelledby="flush-headingOne" data-bs-parent="#acccordionInspirations" >
          <article class="d-flex justify-content-between   row">
            <!-- Carte_1_Dribbble -->
            <div class="col-xs-12 col-md-6 col-lg-4 d-flex justify-content-center  ">
              <div class="card card__liens-utiles" style="width: 18rem;">
                <a href="https://dribbble.com/" target="_blank">
                  <img src="../images/miniatures_cartes/Dribbble.png" class="card-img-top img-fluid" alt="image_logo_dribbble">
                  <div class="card-body card-body__liens-utiles">
                    <h5 class="card-title align-center">DRIBBBLE</h5>
                    <p class="card-text">Le lieu où les designers partagent leurs atouts les plus éblouissants</p>
                  </div>
                </a>
              </div>
            </div>
            <!-- Carte_2_Muzli -->
            <div class="col-xs-12 col-md-6 col-lg-4 d-flex justify-content-center  ">
              <div class="card card__liens-utiles" style="width: 18rem;">
                <a href="https://muz.li/" target="_blank"> 
                  <img src="../images/miniatures_cartes/Muzli.png" class="card-img-top img-fluid" alt="image_interface_muzli">
                  <div class="card-body card-body__liens-utiles">
                    <h5 class="card-title align-center">MUZLI</h5>
                    <p class="card-text">Toute l'inspiration dont vous avez besoin, directement dans chaque nouvel onglet</p>
                  </div>
                </a>
              </div>
            </div>
            <!-- Carte_3_Awwwards -->
            <div class="col-xs-12 col-md-6 col-lg-4 d-flex justify-content-center  ">
              <div class="card card__liens-utiles" style="width: 18rem;">
                <a href="https://www.awwwards.com/" target="_blank" >
                  <img src="../images/miniatures_cartes/awwwards_logo_before_after (2).jpg" class="card-img-top img-fluid" alt="image_interface_muzli">
                  <div class="card-body card-body__liens-utiles">
                    <h5 class="card-title align-center">AWWWARDS</h5>
                    <p class="card-text">reconnaît le talent et les efforts des meilleurs concepteurs, développeurs et agences</p>
                  </div>
                </a>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>




    <!-- Accordion_2_COLLABORATION -->
    <div class="accordion accordion-flush" id="accordionCollaboration">
      <div class="accordion-item accordion-item__liens-utiles">
        <div class="header__item  position-relative  ">
          <div class="title">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed__liens-utiles" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                COLLABORATION 
                <p class=" text-end liens-utiles">Pour travailler ensemble</p>
              </button>
            </h2>
          </div>    
        </div>
        <div id="flush-collapseTwo" class="accordion-collapse collapse    col-xs-3" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionCollaboration" >
          <article class="d-flex justify-content-between   row">
            <!-- Carte_1_Invision -->
            <div class="col-xs-12 col-md-6 col-lg-4 d-flex justify-content-center  ">
              <div class="card card__liens-utiles" style="width: 18rem;">
                <a href="https://www.invisionapp.com/" target="_blank">
                  <img src="../images/miniatures_cartes/INvision.png" class="card-img-top img-fluid" alt="image_interface_invision">
                  <div class="card-body card-body__liens-utiles">
                    <h5 class="card-title align-center">INVISION</h5>
                    <p class="card-text">Outil de collaboration , de prototypage pour les équipes de designers</p>
                  </div>
                </a>
              </div>
            </div>
            <!-- Carte_2_Govisually -->
            <div class="col-xs-12 col-md-6 col-lg-4 d-flex justify-content-center  ">
              <div class="card card__liens-utiles" style="width: 18rem;">
                <a href="https://www.govisually.com/" target="_blank"> 
                  <img src="../images/miniatures_cartes/Go-visually.png" class="card-img-top img-fluid" alt="image_logo_govisually">
                  <div class="card-body card-body__liens-utiles">
                    <h5 class="card-title align-center">GOVISUALLY</h5>
                    <p class="card-text">Plateforme collaborative qui permet d’echanger de maniere visuelle</p>
                  </div>
                </a>
              </div>
            </div>
            <!-- Carte_3_Zeplin -->
            <div class="col-xs-12 col-md-6 col-lg-4 d-flex justify-content-center  ">
              <div class="card card__liens-utiles" style="width: 18rem;">
                <a href="https://zeplin.io/" target="_blank" >
                  <img src="../images/miniatures_cartes/Zeplin.png" class="card-img-top img-fluid" alt="image_interface_zeplin">
                  <div class="card-body card-body__liens-utiles">
                    <h5 class="card-title align-center">ZEPLIN</h5>
                    <p class="card-text">Solution de conception de projet solo ou collaboratif</p>
                  </div>
                </a>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    



    <!-- Accordion_3_INFOGRAPHIE -->
    <div class="accordion accordion-flush" id="accordionInfographie">
      <div class="accordion-item accordion-item__liens-utiles">
        <div class="header__item  position-relative  ">
          <div class="title">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed__liens-utiles" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                INFOGRAPHIE 
                <p class="liens-utiles">Pour du design créatif</p>
              </button>
            </h2>
          </div>    
        </div>
        <div id="flush-collapseThree" class="accordion-collapse collapse    col-xs-3" aria-labelledby="flush-headingThree" data-bs-parent="#accordionInfographie" >
          <article class="d-flex justify-content-between   row">
            <!-- Carte_1_Easelly -->
            <div class="col-xs-12 col-md-6 col-lg-4 d-flex justify-content-center  ">
              <div class="card card__liens-utiles" style="width: 18rem;">
                <a href="https://www.easel.ly/" target="_blank">
                  <img src="../images/miniatures_cartes/easelly.png" class="card-img-top img-fluid" alt="image_logo_easelly">
                  <div class="card-body card-body__liens-utiles">
                    <h5 class="card-title align-center">EASELLY</h5>
                    <p class="card-text">Outils de conception et de diffusion pour entreprise</p>
                  </div>
                </a>
              </div>
            </div>
            <!-- Carte_2_Canva -->
            <div class="col-xs-12 col-md-6 col-lg-4 d-flex justify-content-center  ">
              <div class="card card__liens-utiles" style="width: 18rem;">
                <a href="https://www.canva.com/" target="_blank"> 
                  <img src="../images/miniatures_cartes/Canva.png" class="card-img-top img-fluid" alt="image_logo_canva">
                  <div class="card-body card-body__liens-utiles">
                    <h5 class="card-title align-center">CANVA</h5>
                    <p class="card-text">Freeware de design graphique, création réseaux sociaux,  présentations, affiches</p>
                  </div>
                </a>
              </div>
            </div>
            <!-- Carte_3_Visage -->
            <div class="col-xs-12 col-md-6 col-lg-4 d-flex justify-content-center  ">
              <div class="card card__liens-utiles" style="width: 18rem;">
                <a href="https://visage.co/" target="_blank" >
                  <img src="../images/miniatures_cartes/visage-logo-2x.png" class="card-img-top img-fluid" alt="image_logo_visage">
                  <div class="card-body card-body__liens-utiles">
                    <h5 class="card-title align-center">VISAGE</h5>
                    <p class="card-text">Concevez toutes sortes de contenus visuels grâce à leur interface éblouissante</p>
                  </div>
                </a>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    



    <!-- Accordion_4_STOCK GRAPHIQUE -->
    <div class="accordion accordion-flush" id="accordionStockgraphique">
      <div class="accordion-item accordion-item__liens-utiles">
        <div class="header__item  position-relative  ">
          <div class="title">
            <h2 class="accordion-header" id="flush-headingFour">
              <button class="accordion-button collapsed__liens-utiles" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                STOCK GRAPHIQUE 
                <p class="liens-utiles">Banque d'images, mockups et autres</p>
              </button>
            </h2>
          </div>    
        </div>
        <div id="flush-collapseFour" class="accordion-collapse collapse    col-xs-3" aria-labelledby="flush-headingFour" data-bs-parent="#accordionStockgraphique" >
          <article class="d-flex justify-content-between   row">
            <!-- Carte_1_Vecteezy -->
            <div class="col-xs-12 col-md-6 col-lg-4 d-flex justify-content-center  ">
              <div class="card card__liens-utiles" style="width: 18rem;">
                <a href="https://www.vecteezy.com/" target="_blank">
                  <img src="../images/miniatures_cartes/vecteezy.png" class="card-img-top img-fluid" alt="image_logo_vecteezy">
                  <div class="card-body card-body__liens-utiles">
                    <h5 class="card-title align-center">VECTEEZY</h5>
                    <p class="card-text">Le meilleur endroit pour trouver des images vectorielles</p>
                  </div>
                </a>
              </div>
            </div>
            <!-- Carte_2_Flaticon -->
            <div class="col-xs-12 col-md-6 col-lg-4 d-flex justify-content-center  ">
              <div class="card card__liens-utiles" style="width: 18rem;">
                <a href="https://www.flaticon.com/" target="_blank"> 
                  <img src="../images/miniatures_cartes/flaticon-generic.jpg" class="card-img-top img-fluid" alt="image_logo_flaticon">
                  <div class="card-body card-body__liens-utiles">
                    <h5 class="card-title align-center">FLATICON</h5>
                    <p class="card-text">Une grande base de données d'icônes réalisée par des designers. Nécessite de donner du crédit</p>
                  </div>
                </a>
              </div>
            </div>
            <!-- Carte_3_Illustrio -->
            <div class="col-xs-12 col-md-6 col-lg-4 d-flex justify-content-center  ">
              <div class="card card__liens-utiles" style="width: 18rem;">
                <a href="https://app.illustrio.com/" target="_blank" >
                  <img src="../images/miniatures_cartes/illustrio.jpg" class="card-img-top img-fluid" alt="image_logo_illustrio">
                  <div class="card-body card-body__liens-utiles">
                    <h5 class="card-title align-center">ILLUSTRIO</h5>
                    <p class="card-text">Personnalisez leurs magnifiques icônes et illustrations pour les adapter à votre image de marque</p>
                  </div>
                </a>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    



    <!-- Accordion_5_STOCK PHOTOS -->
    <div class="accordion accordion-flush" id="accordionStockphotos">
      <div class="accordion-item accordion-item__liens-utiles">
        <div class="header__item  position-relative  ">
          <div class="title">
            <h2 class="accordion-header" id="flush-headingFive">
              <button class="accordion-button collapsed__liens-utiles" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                STOCK PHOTOS 
                <p class="liens-utiles">Banque de photos, vidéos libre de droit</p>
              </button>
            </h2>
          </div>    
        </div>
        <div id="flush-collapseFive" class="accordion-collapse collapse    col-xs-3" aria-labelledby="flush-headingFive" data-bs-parent="#accordionStockphoto" >
          <article class="d-flex justify-content-between   row">
            <!-- Carte_1_Pixabay -->
            <div class="col-xs-12 col-md-6 col-lg-4 d-flex justify-content-center  ">
              <div class="card card__liens-utiles" style="width: 18rem;">
                <a href="https://pixabay.com/" target="_blank">
                  <img src="../images/miniatures_cartes/pixabay-1.png" class="card-img-top img-fluid" alt="image_interface_pixabay">
                  <div class="card-body card-body__liens-utiles">
                    <h5 class="card-title align-center">PIXABAY</h5>
                    <p class="card-text">Parcourir et télécharger des images de haute qualité sous licence CCO</p>
                  </div>
                </a>
              </div>
            </div>
            <!-- Carte_2_Unsplash -->
            <div class="col-xs-12 col-md-6 col-lg-4 d-flex justify-content-center  ">
              <div class="card card__liens-utiles" style="width: 18rem;">
                <a href="https://unsplash.com/" target="_blank">
                  <img src="../images/miniatures_cartes/Unsplash.jpg" class="card-img-top img-fluid" alt="image_logo_unsplash">
                  <div class="card-body card-body__liens-utiles">
                    <h5 class="card-title align-center">UNSPLASH</h5>
                    <p class="card-text">Recevez 10 nouvelles photos incroyablement belles chaque jour CCO</p>
                  </div>
                </a>
              </div>
            </div>
            <!-- Carte_3_Pexels -->
            <div class="col-xs-12 col-md-6 col-lg-4 d-flex justify-content-center  ">
              <div class="card card__liens-utiles" style="width: 18rem;">
                <a href="https://www.pexels.com" target="_blank" >
                  <img src="../images/miniatures_cartes/Pexels-1.jpg" class="card-img-top img-fluid" alt="image_interface_pexels">
                  <div class="card-body card-body__liens-utiles">
                    <h5 class="card-title align-center">PEXELS</h5>
                    <p class="card-text">Accédez aux meilleures photos d'archives gratuites</p>
                  </div>
                </a>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>




    <!-- Accordion_6_GRAPHIQUES / IMAGES EDITEUR -->
      <div class="accordion accordion-flush" id="accordionGraphiquesImagesediteur">
        <div class="accordion-item accordion-item__liens-utiles">
          <div class="header__item  position-relative  ">
            <div class="title">
              <h2 class="accordion-header" id="flush-headingSix">
                <button class="accordion-button collapsed__liens-utiles" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                  GRAPHIQUES / IMAGES EDITEUR 
                  <p class="liens-utiles">Logiciels d’éditeur graphique</p>
                </button>
              </h2>
            </div>    
          </div>
          <div id="flush-collapseSix" class="accordion-collapse collapse    col-xs-3" aria-labelledby="flush-headingSix" data-bs-parent="#accordionGraphiquesImagesediteur" >
            <article class="d-flex justify-content-between   row">
              <!-- Carte_1_Adobe Illustrator -->
              <div class="col-xs-12 col-md-6 col-lg-4 d-flex justify-content-center  ">
                <div class="card card__liens-utiles" style="width: 18rem;">
                  <a href="https://www.adobe.com/illustrator.html" target="_blank">
                    <img src="../images/miniatures_cartes/Illustrator-Logo.png" class="card-img-top img-fluid" alt="image_logo_illustrator">
                    <div class="card-body card-body__liens-utiles">
                      <h5 class="card-title align-center">ILLUSTRATOR</h5>
                      <p class="card-text">Créez des arts vectoriels étonnants avec cet outil indispensable</p>
                    </div>
                  </a>
                </div>
              </div>
              <!-- Carte_2_Photoshop -->
              <div class="col-xs-12 col-md-6 col-lg-4 d-flex justify-content-center  ">
                <div class="card card__liens-utiles" style="width: 18rem;">
                  <a href="https://www.adobe.com/photoshop.html" target="_blank">
                    <img src="../images/miniatures_cartes/photoshop.png" class="card-img-top img-fluid" alt="image_interface_photoshop">
                    <div class="card-body card-body__liens-utiles">
                      <h5 class="card-title align-center">PHOTOSHOP</h5>
                      <p class="card-text">Créez et améliorez vos photographies, vos conceptions Web et même vos œuvres d'art en 3D</p>
                    </div>
                  </a>
                </div>
              </div>
              <!-- Carte_3_Affinity Photo -->
              <div class="col-xs-12 col-md-6 col-lg-4 d-flex justify-content-center  ">
                <div class="card card__liens-utiles" style="width: 18rem;">
                  <a href="https://affinity.serif.com" target="_blank" >
                    <img src="../images/miniatures_cartes/Affinity_Photo_icon.png" class="card-img-top img-fluid" alt="image_logo_affinityphoto">
                    <div class="card-body card-body__liens-utiles">
                      <h5 class="card-title align-center">AFFINITY PHOTO</h5>
                      <p class="card-text">Logiciel professionnel d'édition de photos</p>
                    </div>
                  </a>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>

    <!-- Accordion_7_COULEURS -->
    <div class="accordion accordion-flush" id="accordionCouleurs">
      <div class="accordion-item accordion-item__liens-utiles">
        <div class="header__item  position-relative  ">
          <div class="title">
            <h2 class="accordion-header" id="flush-headingSeven">
              <button class="accordion-button collapsed__liens-utiles" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                COULEURS 
                <p class="liens-utiles">Quelques sites pour armoniser vos choix de couleurs</p>
              </button>
            </h2>
          </div>    
        </div>
        <div id="flush-collapseSeven" class="accordion-collapse collapse    col-xs-3" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionCouleurs" >
          <article class="d-flex justify-content-between   row">
            <!-- Carte_1_Colors Hunt -->
            <div class="col-xs-12 col-md-6 col-lg-4 d-flex justify-content-center  ">
              <div class="card card__liens-utiles" style="width: 18rem;">
                <a href="https://colorhunt.co/" target="_blank">
                  <img src="../images/miniatures_cartes/color-hunt-logo.jpg" class="card-img-top img-fluid" alt="image_logo_colorshunt">
                  <div class="card-body card-body__liens-utiles">
                    <h5 class="card-title align-center">COLORS HUNT</h5>
                    <p class="card-text">Site et extension chrome offrant une bibliothèque de palette de couleurs pré-établi</p>
                  </div>
                </a>
              </div>
            </div>
            <!-- Carte_2_Adobe color CC -->
            <div class="col-xs-12 col-md-6 col-lg-4 d-flex justify-content-center  ">
              <div class="card card__liens-utiles" style="width: 18rem;">
                <a href="https://color.adobe.com" target="_blank">
                  <img src="../images/miniatures_cartes/Adobe_color_cc.png" class="card-img-top img-fluid" alt="image_interface_adobecolorcc">
                  <div class="card-body card-body__liens-utiles">
                    <h5 class="card-title align-center">ADOBE COLOR CC</h5>
                    <p class="card-text">Roue chromatique et générateur de couleurs sous forme de palettes</p>
                  </div>
                </a>
              </div>
            </div>
            <!-- Carte_3_Colicious -->
            <div class="col-xs-12 col-md-6 col-lg-4 d-flex justify-content-center  ">
              <div class="card card__liens-utiles" style="width: 18rem;">
                <a href="https://kbrsh.github.io" target="_blank" >
                  <img src="../images/miniatures_cartes/Colicious.jpg" class="card-img-top img-fluid" alt="image_logo_colicious">
                  <div class="card-body card-body__liens-utiles">
                    <h5 class="card-title align-center">COLICIOUS</h5>
                    <p class="card-text">Générateur de couleurs aléatoire avec son code hex</p>
                  </div>
                </a>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>




    <!-- Accordion_8_TYPOGRAPHIE -->
    <div class="accordion accordion-flush" id="accordionTypographie">
      <div class="accordion-item accordion-item__liens-utiles">
        <div class="header__item  position-relative  ">
          <div class="title">
            <h2 class="accordion-header" id="flush-headingEight">
              <button class="accordion-button collapsed__liens-utiles" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                TYPOGRAPHIE 
                <p class="liens-utiles">Extensions, outils et site de consultation et téléchargement de typographies</p>
              </button>
            </h2>
          </div>    
        </div>
        <div id="flush-collapseEight" class="accordion-collapse collapse    col-xs-3" aria-labelledby="flush-headingEight" data-bs-parent="#accordionTypographie" >
          <article class="d-flex justify-content-between   row">
            <!-- Carte_1_Fonts Ninja -->
            <div class="col-xs-12 col-md-6 col-lg-4 d-flex justify-content-center  ">
              <div class="card card__liens-utiles" style="width: 18rem;">
                <a href="https://www.fonts.ninja" target="_blank">
                  <img src="../images/miniatures_cartes/font_ninja.png" class="card-img-top img-fluid" alt="image_interface_fontsninja">
                  <div class="card-body card-body__liens-utiles">
                    <h5 class="card-title align-center">FONTS NINJA</h5>
                    <p class="card-text">Identifiez les polices de n'importe quel site Web, ajoutez-les à vos favoris, essayez-les et achetez-les</p>
                  </div>
                </a>
              </div>
            </div>
            <!-- Carte_2_1001 Fonts -->
            <div class="col-xs-12 col-md-6 col-lg-4 d-flex justify-content-center  ">
              <div class="card card__liens-utiles" style="width: 18rem;">
                <a href="https://www.1001fonts.com" target="_blank">
                  <img src="../images/miniatures_cartes/1001_fonts.png" class="card-img-top img-fluid" alt="image_interface_1001fonts">
                  <div class="card-body card-body__liens-utiles">
                    <h5 class="card-title align-center">1001 FONTS</h5>
                    <p class="card-text">Bibliothèque de police pour usage professionnels ou personnels</p>
                  </div>
                </a>
              </div>
            </div>
            <!-- Carte_3_What Font Is -->
            <div class="col-xs-12 col-md-6 col-lg-4 d-flex justify-content-center  ">
              <div class="card card__liens-utiles" style="width: 18rem;">
                <a href="https://www.whatfontis.com" target="_blank" >
                  <img src="../images/miniatures_cartes/what font is.png" class="card-img-top img-fluid" alt="image_interface_whatfontis">
                  <div class="card-body card-body__liens-utiles">
                    <h5 class="card-title align-center">WHAT FONT IS</h5>
                    <p class="card-text">Trouver n'importe quelle police à partir de n'importe quelle image</p>
                  </div>
                </a>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>

  </div>
      
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    </body>
    </html>