<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/jpg" href="../image/favicon.png" />
  <title>Portfolio CDUI</title>
  <!-- css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/page_projet.css">
</head>

<body>
  <div class="container py-4 container__projets">
    <div class="row">
      <div class="col">
        <h1 class="title__page">PROJET</h1>
      </div>
    </div>
    
    <div class="row">
      <article class="col-md-4 col-sm-6 d-flex justify-content-center">
        <label>
          <input type="checkbox"/>
          <div class="card ">
            <div class="front">
              <div class="img__container h-100">
                <img src="../images/ecf-illustrator-photoshop.jpg" class="card-img-top img-fluid h-100" alt="ECF Illustrator Photoshop">
              </div>
              <div class="card-body d-flex align-items-center position-absolute bottom-0 start-0 end-0 justify-content-center">
                <p class="card-text fs-6 m-0">Réaliser des <span class="orangeAi">illustrations</span>, des <span class="orangeAi">graphismes</span> et des <span class="bluePs">visuels</span>.</p>
              </div>
            </div>
            <div class="back">
              <h1>EXEMPLE DE PROJET</h1>
              <p>Création d’un logo pour une auto-entreprise dans le domaine de l’écriture et de l’art. </p>
              <p class="p1">Par Angel Français & Thomas Clozel</p>
              <div class="container__btn">
                <a href="https://www.behance.net/gallery/147264453/Pafundi-Charte-Graphique" target="_blank" class="btn btn-secondary">Angel</a>
                <a href="https://www.behance.net/gallery/152725877/Charte-graphique-Pafundi" target="_blank" class="btn btn-secondary">Thomas</a>
              </div>               
            </div>
          </div>
        </label>
      </article>
      
      <article class="col-md-4 col-sm-6 d-flex justify-content-center">
        <label>
          <input type="checkbox"/>
          <div class="card ">
            <div class="front">
              <div class="img__container h-100">
                <img src="../images/ecf-adobexd.jpg" class="card-img-top img-fluid h-100" alt="ECF Adobe XD">
              </div>
              <div class="card-body d-flex align-items-center position-absolute bottom-0 start-0 end-0 justify-content-center">
                <p class="card-text fs-6 m-0">Concevoir des <span class="pinkXD">interfaces graphiques</span> et des <span class="pinkXD">prototypes</span> .</p>
              </div>
            </div>
            <div class="back">
              <h1>EXEMPLE DE PROJET</h1>
              <hr/>
              <p>Création d’un logo pour une auto-entreprise dans le domaine de l’écriture et de l’art.</p>
              <hr/>
              <p class="click">Click to flip</p>
            </div>
          </div>
        </label>
      </article>
      
      <article class="col-md-4 col-sm-6 d-flex justify-content-center">
        <label>
          <input type="checkbox"/>
          <div class="card ">
            <div class="front">
              <div class="img__container h-100">
                <img src="../images/ecf-webmarketing.jpg" class="card-img-top img-fluid h-100" alt="ECF Webmarketing">
              </div>
              <div class="card-body d-flex align-items-center position-absolute bottom-0 start-0 end-0 justify-content-center">
                <p class="card-text fs-6 m-0">Mettre en oeuvre une stratégie webmarketing.</p>
              </div>
            </div>
            <div class="back">
              <h1>EXEMPLE DE PROJET</h1>
              <hr />
              <p>Création d’un logo pour une auto-entreprise dans le domaine de l’écriture et de l’art.</p>
              <hr />
              <p class="click">Click to flip</p>
            </div>
          </div>
        </label>
      </article>
      
      <article class="col-md-4 col-sm-6 d-flex justify-content-center">
        <label>
          <input type="checkbox"/>
          <div class="card ">
            <div class="front">
              <div class="img__container h-100">
                <img src=" ../images/ecf-indesign.jpg" class="card-img-top img-fluid h-100 " alt="ECF InDesign">
              </div>
              <div class="card-body d-flex align-items-center position-absolute bottom-0 start-0 end-0 justify-content-center">
                <p class="card-text fs-6 m-0">Créer des <span class="pinkXD">supports de communication</span> .</p>
              </div>
            </div>
            <div class="back">
              <h1>EXEMPLE DE PROJET</h1>
              <hr />
              <p>Création d’un logo pour une auto-entreprise dans le domaine de l’écriture et de l’art.</p>
              <hr />
              <p class="click">Click to flip</p>
            </div>
          </div>
        </label>
      </article>
      
      <article class="col-md-4 col-sm-6 d-flex justify-content-center">
        <label>
          <input type="checkbox"/>
          <div class="card ">
            <div class="front">
              <div class="img__container h-100">
                <img src="../images/ecf-figma-groupe.jpg" class="card-img-top img-fluid h-100 " alt="ECF Groupe Figma">
              </div>
              <div class="card-body d-flex align-items-center position-absolute bottom-0 start-0 end-0 justify-content-center">
                <p class="card-text fs-6 m-0">Assurer une veille professionnelle et développer les <span class="greenF">compétences collectives de son équipe</span> .</p>
              </div>
            </div>
            <div class="back">
              <h1>EXEMPLE DE PROJET</h1>
              <hr />
              <p>Création d’un logo pour une auto-entreprise dans le domaine de l’écriture et de l’art.</p>
              <hr />
              <p class="click">Click to flip</p>
            </div>
          </div>
        </label>
      </article>
      
      <article class="col-md-4 col-sm-6 d-flex justify-content-center">
        <label>
          <input type="checkbox"/>
          <div class="card ">
            <div class="front">
              <div class="img__container h-100">
                <img src="../images/ecf-code.jpg" class="card-img-top img-fluid h-100 " alt="ECF Code">
              </div>
              <div class="card-body d-flex align-items-center position-absolute bottom-0 start-0 end-0 justify-content-center">
                <p class="card-text fs-6 m-0">Intégrer des <span class="orangeHTML">pages web</span>.</p>
              </div>
            </div>
            <div class="back">
              <h1>EXEMPLE DE PROJET</h1>
              <hr />
              <p>Création d’un logo pour une auto-entreprise dans le domaine de l’écriture et de l’art.</p>
              <hr />
              <p class="click">Click to flip</p>
            </div>
          </div>
        </label>
      </article>
      
      <article class="col-md-4 col-sm-6 d-flex justify-content-center">
        <label>
          <input type="checkbox"/>
          <div class="card ">
            <div class="front">
              <div class="img__container h-100">
                <img src=" ../images/ecf-wordpress.jpg" class="card-img-top img-fluid h-100 " alt="ECF Wordpress">
              </div>
              <div class="card-body d-flex align-items-center position-absolute bottom-0 start-0 end-0 justify-content-center">
                <p class="card-text fs-6 m-0">Adapter des <span class="blueWP">systèmes de gestion de contenus</span>.</p>
              </div>
            </div>
            <div class="back">
              <h1>EXEMPLE DE PROJET</h1>
              <hr />
              <p>Création d’un logo pour une auto-entreprise dans le domaine de l’écriture et de l’art.</p>
              <hr />
              <p class="click">Click to flip</p>
            </div>
          </div>
        </label>
      </article>
      
      <article class="col-md-4 col-sm-6 d-flex justify-content-center">
        <label>
          <input type="checkbox"/>
          <div class="card ">
            <div class="front">
              <div class="img__container h-100">
                <img src="../images/ecf-code-html-css.jpg" class="card-img-top img-fluid h-100 " alt="ECF Code HTML CSS">
              </div>
              <div class="card-body d-flex align-items-center position-absolute bottom-0 start-0 end-0 justify-content-center">
                <p class="card-text fs-6 m-0">Optimiser en continu 
                  un <span class="orangeHTML">site web</span> ou une <span class="blueCSS">interface</span>.</p>
                </div>
              </div>
              <div class="back">
                <h1>EXEMPLE DE PROJET</h1>
                <hr />
                <p>Création d’un logo pour une auto-entreprise dans le domaine de l’écriture et de l’art.</p>
                <hr />
                <p class="click">Click to flip</p>
              </div>
            </div>
          </label>
        </article>
        
        <article class="col-md-4 col-sm-6 d-flex justify-content-center">
          <label>
            <input type="checkbox"/>
            <div class="card ">
              <div class="front">
                <div class="img__container h-100">
                  <img src="../images/ecf-animation.jpg" class="card-img-top img-fluid h-100 " alt="ECF Animation">
                </div>
                <div class="card-body d-flex align-items-center position-absolute bottom-0 start-0 end-0 justify-content-center">
                  <p class="card-text fs-6 m-0">Réaliser une <span class="purpleAE">animation</span> pour différents supports de diffusion.</p>
                </div>
              </div>
              <div class="back">
                <h1>EXEMPLE DE PROJET</h1>
                <hr />
                <p>Création d’un logo pour une auto-entreprise dans le domaine de l’écriture et de l’art.</p>
                <hr />
                <p class="click">Click to flip</p>
              </div>
            </div>
          </label>
        </article>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
  </body>
  </html>