<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/project.css">
</head>
<!-- Grand title -->
<body>
    <h1 class="display-5 fw-bold">LOGICIELS</h1>
</body>


<!-- Deux colonne (Text+Accordion)-->

<!-- Text -->
<body>
    <body>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Logiciel est un ensemble de séquences d'instructions interprétables par une machine et d'un jeu de données nécessaires à ces opérations. Le logiciel détermine donc les tâches qui peuvent être effectuées par la machine, ordonne son fonctionnement et lui procure ainsi son utilité fonctionnelle.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            </div>
    </body>

<!-- Accordion -->
    <body>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Adobe Illustrator
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <Strong>Adobe Illustrator </Strong> est un logiciel de création graphique vectorielle. Il fait partie de la gamme Adobe, peut être utilisé indépendamment ou en complément de Photoshop, et offre des outils de dessin vectoriel puissants. Les images vectorielles sont constituées de courbes générées par des formules mathématiques.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Adobe InDesign
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Indesign s'utilise principalement pour la mise en page de documents tels que vos catalogues, magazines, plaquettes commerciales, et dépliants. Bien souvent, ces créations intègrent elles-mêmes des fichiers réalisés au préalable avec Photoshop et Illustrator.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Adobe Photoshop
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Adobe Photoshop est l'outil de retouche et montage photo de la suite Adobe qui offre des fonctionnalités poussées pour créer et personnaliser des images, photos et illustrations. Photoshop fait partie des outils de référence pour les photographes, designers et professionnels du web.
                creation visuel un carousel.
            </div>
          </div>
        </div>
      </div>
</body>
</body>
</html>
</html>