<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ressources</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../css/ressources.css" />
    <link
      rel="stylesheet"
      media="screen and (max-width: 1280px)"
      href="petite_resolution.css"
    />
    <title>Portfolio</title>
  </head>

  <body>
    <div class="container-fluid p-0">
      <div class="row">
        <h1 class="h1" class="py-4">Ressources</h1>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 p-0 m-0 position-relative">
          <a href="PAGE LOGICIELS A ADD"
            ><img
              src="https://zupimages.net/up/22/39/ms62.png"
              title="logiciels"
              alt="lien vers la page logiciels"
          /></a>
          <h3 class="position-absolute titre__ressources"></h3>
        </div>
        <div class="col-lg-4 col-md-6 p-0 m-0 position-relative">
          <a href="PAGE EXPOSES A ADD"
            ><img
              src="https://zupimages.net/up/22/39/c2hm.png"
              title="exposés"
              alt="lien vers la page exposés"
          /></a>
          <h3 class="position-absolute titre__ressources"></h3>
        </div>
        <div class="col-lg-4 col-md-6 p-0 m-0 position-relative">
          <a href="PAGE LIENS UTILES A ADD"
            ><img
              src="https://zupimages.net/up/22/39/25ck.png"
              title="Liens utiles"
              alt="lien vers la page liens utiles"
          /></a>
          <h3 class="position-absolute titre__ressources"></h3>
        </div>
      </div>
    </div>
  </body>
</html>
